/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #B69E65;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fafafa;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #B69E65;
}

button:hover,
form .btn-enviar input[type=submit]:hover {
    box-shadow: 0px 0px 8px #fcdb8d;
    transform: scale(1.05);
}


/* ESTILO CABEÇALHO */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7c7c7c;
    text-decoration: none;
    display: inline-block;
    transition: 1.3s;
}

header nav.menu-desktop a:hover {
    color: #fafafa;
    transform: scale(1.2);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

.logo img {
    width: 6rem;
}

/* ESTILO MENU-MOBILE */
.btn-abrir-menu {
    display: none;
}

.btn-abrir-menu i {
    color: #fcdb8d;
    font-size: 40px;
}

.menu-mobile {
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.btn-abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #fafafa;
    font-size: 30px;

}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fafafa;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #313131;
    color: #fafafa;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.695);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILO TOPO SITE */
section.topo-site {
    padding: 40px 4%;
}

section.topo-site .flex {
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.topo-site h1 {
    color: #fafafa;
    font-size: 42px;
    line-height: 40px;
}

.topo-site .txt-topo-site h1 span {
    color: #B69E65;
}

.topo-site .txt-topo-site p {
    color: #fafafa;
    margin: 40px 0;
}

.topo-site .img-topo-site img {
    /* height: 30%; */
    width: 50%;
    border-radius: 20%;
    box-shadow: 0px 0px 8px #fcdb8d;
}

/* não funciona com position static que é o padrão */
.topo-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {

    /* estado inicial */
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILOS ESPECIALIDADES */
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades-box ul {
    list-style-type: none;
}

.especialidades .especialidades-box {
    color: #fafafa;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #fafafa;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #fafafa;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #fcdb8d;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO SOBRE */
section.sobre {
    padding: 80px 4%;
}

.img-sobre img {
    /* height: 30%; */
    width: 80%;
    border-radius: 4%;
    /* box-shadow: 0px 0px 8px #fcdb8d; */
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fafafa;
}

.sobre .txt-sobre h2 {
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #fcdb8d;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #fcdb8d;
    font-size: 20px;
    cursor: pointer;
    margin: 0 6px;
    transition: .2s;
}

/* ESTILO PORTFÓLIO */
.portfolio-grid {
    padding: 80px 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    color: #fafafa;
    text-align: center;
}

.portfolio-card {
    background: #000;
    border-radius: 8px;
    border: 2px solid #fafafa;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.portfolio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #fafafa;
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.portfolio-card h3 {
    font-size: 1.5rem;
    margin: 1rem;
}

.tech-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tech-icons i {
    font-size: 2rem;
    color: #fcdb8d;
}

.portfolio-card p {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.btn-deploy {
    display: block;
    width: 80%;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #B69E65;
    color: #000;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn-deploy:hover {
    background-color: #fcdb8d;
    font-weight: 600;
    cursor: pointer;
}

/* ESTILO FORMS */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 400px;
    margin: 0 auto;
    /*centralizar forms*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #313131;
    border: none;
    border-radius: 15px;
    outline: 0;
    padding: 15px 10px;
    color: #fafafa;
    font-size: 18px;
}

form input::placeholder {
    color: #fcdb8d;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form textarea::placeholder {
    color: #fcdb8d;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    width: 120px;
    background-color: #B69E65;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO FOOTER */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #fafafa1d;
}

.logo-footer img {
    width: 4rem;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #fcdb8d;
}

footer .line-footer p i {
    color: #B69E65;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fafafa;
}

/* Media Query para telas menores */
@media (min-width: 320px) and (max-width: 360px) {

    /* Botão de contato */
    .btn-contato {
        display: none;
    }

}

/* Media Query */
@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    .btn-abrir-menu {
        display: block;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ESPECIALIDADES */
    section.especiliadades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}